In [1]:
import pandas as pd
import numpy as np

In [28]:
data = [
    [0, 1, 2, 1, 'neg'],
    [2, 1, 2, 3, 'neg'],
    [0, 0, 1, 1, 'neg'],
    [3, 3, 0, 0, 'pos'],
    [2, 0, 1, 0, 'pos'],
]
data_df = pd.DataFrame(data, columns=['exciting', 'happy', 'upset', 'furious', 'class'])

In [31]:
prior = data_df.groupby('class').size()
prior = prior/prior.sum()
prior

class
neg    0.6
pos    0.4
dtype: float64

In [29]:
pos_neg = data_df.groupby('class').sum()
# pos_neg = pos_neg.clip(upper=1)  # if binary
pos_neg

       exciting  happy  upset  furious
class
neg           2      2      5        5
pos           5      3      1        0

In [30]:
pos_neg = pos_neg + 1
pos_neg = pos_neg.apply(lambda row: row / row.sum(), axis=1)
pos_neg

       exciting     happy     upset   furious
class
neg    0.166667  0.166667  0.333333  0.333333
pos    0.461538  0.307692  0.153846  0.076923